{% load static %}
{% load catalog_tags %}

<div class="product-card">
  <a href="{{ product.get_absolute_url }}">
    {% if product.images.exists %}
    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" loading="lazy" decoding="async">
    {% else %}
    <img src="{% static 'images/product/placeholder.jpg' %}" alt="{{ product.name }}" loading="lazy" decoding="async">
    {% endif %}
  </a>
  <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
  <div class="product-footer">
    <div class="product-price">
      {% if product.compare_at_price and product.compare_at_price > product.price %}
      <span class="old">{{ product.compare_at_price|format_price }}</span>
      {% endif %}
      {{ product.price|format_price }} تومان
    </div>
    {% if product.is_in_stock %}
    <form action="{% url 'cart:add' product.id %}" method="POST" class="js-add-to-cart-form" style="margin: 0;">
      {% csrf_token %}
      <input type="hidden" name="quantity" value="1">
      {% include 'partials/add_to_cart_btn.html' with style='icon' %}
    </form>
    {% else %}
    <span class="product-out-of-stock">ناموجود</span>
    {% endif %}
  </div>
</div>
