{% load static %}
<footer class="relative w-full">
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      style="display: block; position: absolute"
      width="0"
      height="0"
    >
      <defs>
        <clipPath id="clip" clipPathUnits="objectBoundingBox">
          <path
            d="M0.5,0H0.93A0.07,0.07,0,0,1,1,0.07V1A0,0,0,0,1,1,1H0A0,0,0,0,1,0,1V0.5A0.5,0.5,0,0,1,0.5,0Z"
          />
        </clipPath>
      </defs>
    </svg>
    <div class="inverted"></div>
  </div>
  <!-- محتوای فوتر -->
  <div class="relative z-10 container mx-auto h-full py-20 lg:py-16">
    <div class="grid h-full grid-cols-1 gap-12 text-gray-700 lg:grid-cols-3">
      <div class="flex flex-col justify-between px-4 lg:px-0">
        <div>
          <img src="{% static 'images/logo.svg' %}" alt="لوگوی گل ناز" />
        </div>
        <div class="w-[80%]">
          <p class="text-justify text-sm leading-6">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ..لورم
            ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ..لورم ایپسوم
            متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ..لورم ایپسوم متن
            ساختگی با تولید سادگی نامفهوم از صنعت چاپ...
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-primary-900 mb-4 text-xl font-semibold">دسته‌بندی</h2>
        <div class="grid grid-cols-3 gap-3">
          <div>
            <ul class="flex flex-col justify-between space-y-4">
              <li class="gap-x-1">
                <a
                  href="{% url 'home' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    صفحه اصلی
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'shop' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    فروشگاه
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'account_info' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    حساب کاربری
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'orders' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    سفارشات
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="flex flex-col justify-between space-y-4">
              <li class="gap-x-1">
                <a
                  href="{% url 'blog' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    وبلاگ
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'about_us' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    درباره ما
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="#"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    خدمات ما
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'contact_us' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    پشتیبانی
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="flex flex-col justify-between space-y-4">
              <li class="gap-x-1">
                <a
                  href="{% url 'home' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    صفحه اصلی
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'shop' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    فروشگاه
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'account_info' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    حساب کاربری
                  </span>
                </a>
              </li>
              <li class="gap-x-1">
                <a
                  href="{% url 'orders' %}"
                  class="menu-item_link relative inline-flex items-center gap-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point text-gray-600"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                    />
                  </svg>
                  <span class="font-dana text-sm font-semibold text-gray-600">
                    سفارشات
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-between gap-y-4">
        <h2 class="text-primary-900 mb-4 text-xl font-semibold">
          ارتباط با ما
        </h2>
        <div class="flex">
          <ul class="flex items-center gap-x-4">
            <li>
              <a href="" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="34"
                  height="34"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram text-primary-900"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="34"
                  height="34"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin text-primary-900"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 11v5" />
                  <path d="M8 8v.01" />
                  <path d="M12 16v-5" />
                  <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                  <path
                    d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="34"
                  height="34"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter text-primary-900"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="34"
                  height="34"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram text-primary-900"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                  />
                  <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  <path d="M16.5 7.5v.01" />
                </svg>
              </a>
            </li>
            <li>
              <span class="font-dana font-medium text-gray-800"
                >همراه ما باشید</span
              >
            </li>
          </ul>
        </div>
        <div class="flex items-center gap-8">
          <img src="{% static 'images/01.png' %}" class="size-20" alt="نماد اعتماد" />
          <img src="{% static 'images/02.png' %}" class="size-20" alt="نماد اعتماد" />
          <img src="{% static 'images/03.png' %}" class="size-20" alt="نماد اعتماد" />
        </div>
      </div>
    </div>
  </div>
</footer>