@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  src:
    url("/fonts/woff/IRANYekanX-Thin.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  src:
    url("/fonts/woff/IRANYekanX-UltraLight.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  src:
    url("/fonts/woff/IRANYekanX-Light.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/woff/IRANYekanX-Medium.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/woff/IRANYekanX-DemiBold.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  src:
    url("/fonts/woff/IRANYekanX-ExtraBold.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  src:
    url("/fonts/woff/IRANYekanX-Black.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Black.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 950;
  src:
    url("/fonts/woff/IRANYekanX-ExtraBlack.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 1000;
  src:
    url("/fonts/woff/IRANYekanX-Heavy.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src:
    url("/fonts/woff/IRANYekanX-Bold.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src:
    url("/fonts/woff/IRANYekanX-Regular.woff") format("woff"),
    url("/fonts/woff2/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src:
    url("/fonts/woff2/Dana-Hairline.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Hairline.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src:
    url("/fonts/woff2/Dana-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Thin.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src:
    url("/fonts/woff2/Dana-UltraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-UltraLight.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src:
    url("/fonts/woff2/Dana-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Light.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/woff2/Dana-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Medium.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/woff2/Dana-DemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-DemiBold.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src:
    url("/fonts/woff2/Dana-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-ExtraBold.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src:
    url("/fonts/woff2/Dana-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Black.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 930;
  src:
    url("/fonts/woff2/Dana-ExtraBlack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-ExtraBlack.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 960;
  src:
    url("/fonts/woff2/Dana-Heavy.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Heavy.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 990;
  src:
    url("/fonts/woff2/Dana-Fat.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Fat.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src:
    url("/fonts/woff2/Dana-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-ExtraBold.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src:
    url("/fonts/woff2/Dana-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/woff/Dana-Regular.woff")
      format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  src:
    url("/fonts/woff/YekanBakh-thin.woff") format("woff"),
    url("/fonts/woff2/YekanBakh-thin.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  src:
    url("/fonts/woff/YekanBakh-Light.woff") format("woff"),
    url("/fonts/woff2/YekanBakh-Light.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: normal;
  src:
    url("/fonts/woff/YekanBakh-Regular.woff") format("woff"),
    url("/fonts/woff2/YekanBakh-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/woff/YekanBakh-SemiBold.woff") format("woff"),
    url("/fonts/woff2/YekanBakh-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: bold;
  src:
    url("/fonts/woff/YekanBakh-Bold.woff") format("woff"),
    url("/fonts/woff2/YekanBakh-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 800;
  src:
    url("/fonts/woff/Yekan Bakh-ExtraBold.woff") format("woff"),
    url("/fonts/woff2/Yekan Bakh-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  src:
    url("/fonts/woff/Yekan Bakh-Black.woff") format("woff"),
    url("/fonts/woff2/Yekan Bakh-Black.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 950;
  src:
    url("/fonts/woff/Yekan Bakh-ExtraBlack.woff") format("woff"),
    url("/fonts/woff2/Yekan Bakh-ExtraBlack.woff2") format("woff2");
}
