<!-- NAME AND AVATAR  -->
<div
  class="flex w-full items-center justify-between border-b border-gray-200 py-3"
>
  <div class="flex items-center gap-x-3">
    <img
      src="./images/user-woman.png"
      class="size-10 rounded-full ring-2 ring-gray-400/20"
      alt="AVATAR"
    />
    <span class="felx flex-col gap-y-2">
      <p class="font-dana text-base font-semibold">الهام رضایی</p>
      <p class="text-gray-400">09100000001</p>
    </span>
  </div>
  <span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-edit text-primary-800 h-6 w-6 cursor-pointer"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
      <path
        d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
      />
      <path d="M16 5l3 3" />
    </svg>
  </span>
</div>
<ul class="relative w-full space-y-2">
  <li
    class="bg-primary-50 flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-category-2 text-primary-800"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M14 4h6v6h-6z" />
      <path d="M4 14h6v6h-6z" />
      <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
      <path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
    </svg>
    <a href="#" class="text-primary-800 font-dana font-semibold">
      پنل کاربری
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-basket group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
      <path
        d="M5.001 8h13.999a2 2 0 0 1 1.977 2.304l-1.255 7.152a3 3 0 0 1 -2.966 2.544h-9.512a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304z"
      />
      <path d="M17 10l-2 -6" />
      <path d="M7 10l2 -6" />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      سفارش‌های من
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-table-heart group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M11.5 21h-6.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v6"
      />
      <path d="M3 10h18" />
      <path d="M10 3v18" />
      <path
        d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z"
      />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      لیست علاقه‌مندی‌ها
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
      <path
        d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
      />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      آدرس‌های من
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-message group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M8 9h8" />
      <path d="M8 13h6" />
      <path
        d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"
      />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      دیدگاه‌های من
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-bell-ringing group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
      />
      <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
      <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727" />
      <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727" />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      پیام‌ها و اعلان‌ها
    </a>
  </li>
  <li
    class="hover:bg-primary-50 group flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle group-hover:text-primary-800 text-gray-700"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
      <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
      <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
    </svg>
    <a
      href="#"
      class="group-hover:text-primary-800 font-dana font-semibold text-gray-700"
    >
      اطلاعات شخصی
    </a>
  </li>
  <li
    class="bg-error-50 flex cursor-pointer items-center gap-x-2 rounded-lg px-2 py-3 text-base transition-all duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-logout text-error-500"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
      />
      <path d="M9 12h12l-3 -3" />
      <path d="M18 15l3 -3" />
    </svg>
    <a href="#" class="text-error-500 font-dana font-semibold">
      خروج از حساب
    </a>
  </li>
</ul>
