<article
  class="group hover:border-primary-800 space-y-3 rounded-xl bg-white p-4 drop-shadow-md transition hover:-translate-y-2 hover:border-b-4"
>
  <!-- Image Section -->
  <figure class="block py-4 text-center">
    <img
      src="/images/blog.png"
      class="rounded-blog mx-auto block h-50 w-full object-cover"
      alt="Mobile buying guide image"
    />
  </figure>

  <!-- Content Section -->
  <section class="space-y-5">
    <div class="space-y-4">
      <!-- Category Tag -->
      <h4
        class="before:bg-primary-900 relative before:absolute before:top-1/2 before:right-0 before:z-[-1] before:h-px before:w-full before:-translate-y-1/2 before:rounded-lg"
      >
        <span
          class="border-primary-900 rounded-person border-r-2 bg-white px-2.5 py-1 text-sm text-gray-900 shadow-2xl"
        >
          آرایشی
        </span>
      </h4>

      <!-- Article Title -->
      <div
        class="group-hover:text-primary-800 line-clamp-2 text-sm font-semibold text-gray-600 transition-colors"
      >
        نقد و بررسی تینت رنگی پوست ژیناژن
      </div>
    </div>

    <!-- Card Footer -->
    <div class="mt-8 flex flex-wrap items-center justify-between">
      <!-- Views Counter -->
      <div class="flex items-center text-gray-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-eye-up"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path
            d="M12 18c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6c-.09 .15 -.18 .295 -.27 .439"
          />
          <path d="M19 22v-6" />
          <path d="M22 19l-3 -3l-3 3" />
        </svg>
        <span class="mr-2">128 بازدید</span>
      </div>

      <!-- Read More Button -->
      <a
        href="#"
        class="group group-hover:text-primary-800 flex w-fit items-center justify-center gap-x-1 text-xs text-gray-600 transition md:text-sm"
      >
        ادامه مطلب
        <svg
          class="group-hover:fill-primary-800 size-2 fill-gray-600 transition md:size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 256 256"
        >
          <path
            d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"
          ></path>
        </svg>
      </a>
    </div>
  </section>
</article>
