<div class="group relative w-full rounded-lg bg-white p-4 pt-8 shadow-md">
  <!-- Product Colors -->
  <div class="absolute top-5 left-4 flex flex-col space-y-2">
    <span class="h-4 w-4 rounded-full bg-blue-900"></span>
    <span class="h-4 w-4 rounded-full bg-yellow-500"></span>
    <span class="h-4 w-4 rounded-full bg-blue-400"></span>
  </div>

  <!-- Product Image-->
  <img
    src="/images/product/01.jpg"
    alt="Prime Matex Night Recovery Cream"
    class="mb-4 h-40 w-full rounded-md object-contain"
  />

  <!-- Action Icons -->
  <div class="absolute top-4 right-4 flex flex-col space-y-2 text-gray-600">
    <!-- Icon: Quick View -->
    <button class="cursor-pointer transition-colors hover:text-gray-800">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
        <path
          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
        />
      </svg>
    </button>
    <!-- Icon: Compare -->
    <button class="cursor-pointer transition-colors hover:text-gray-800">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-diff"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M11 16h10" />
        <path d="M11 16l4 4" />
        <path d="M11 16l4 -4" />
        <path d="M13 8h-10" />
        <path d="M13 8l-4 4" />
        <path d="M13 8l-4 -4" />
      </svg>
    </button>
    <!-- Icon: Basket Heart -->
    <button class="cursor-pointer transition-colors hover:text-gray-800">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-basket-heart"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M17 10l-2 -6" />
        <path d="M7 10l2 -6" />
        <path
          d="M10.5 20h-3.256a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304h13.999a2 2 0 0 1 1.977 2.304l-.143 .817"
        />
        <path d="M12.602 12.092a2 2 0 0 0 -2.233 3.066" />
        <path
          d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z"
        />
      </svg>
    </button>
  </div>

  <!-- Product Title-->
  <h2
    class="hover:text-primary-900 mb-3 cursor-pointer text-sm leading-6 font-semibold transition-colors md:text-base"
  >
    کرم شب بازسازی کننده پوست پرایم مدل Matex حجم 50 میلی لیتر
  </h2>

  <!--  Price & Add to Cart -->
  <div class="bottom-0 flex items-center justify-between">
    <!-- Add to Cart Button -->
    <div>
      <button
        class="from-primary-900 via-primary-700 to-primary-600 relative inline-flex cursor-pointer items-center rounded-lg bg-gradient-to-tr p-3 tracking-[0.02em] text-white transition-all group-hover:-translate-y-0.5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-plus"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path d="M12.5 17h-6.5v-14h-2" />
          <path d="M6 5l14 1l-.86 6.017m-2.64 .983h-10.5" />
          <path d="M16 19h6" />
          <path d="M19 16v6" />
        </svg>
      </button>
    </div>
    <!-- Old Price + Discount -->
    <div class="flex flex-col items-end gap-y-2">
      <div class="flex items-center gap-x-2">
        <del class="text-sm font-semibold text-gray-500">
          <span class="fa-number"> 1500000 </span>
          تومان
        </del>
        <span
          class="bg-primary-600 rounded-person flex items-center justify-center px-3 py-1 text-xs font-semibold text-white"
        >
          10%
        </span>
      </div>
      <div
        class="flex items-center gap-x-1 text-sm font-semibold text-gray-700"
      >
        <span class="fa-number">546000</span>
        تومان
      </div>
    </div>
  </div>
</div>
