{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">

<head>
  {% include 'partials/seo_meta.html' %}
  <title>{% block title %}داروخانه دکتر واعظی{% endblock %}</title>
  
  {% block extra_css %}{% endblock %}
  
  <link rel="stylesheet" crossorigin href="{% static 'css/main.css' %}?v=3">
  <link rel="stylesheet" crossorigin href="{% static 'css/cyan-theme-override.css' %}?v=3">
  <link rel="stylesheet" crossorigin href="{% static 'css/cyan-utilities.css' %}?v=3">
</head>

<body>
  <!-- Preloader -->
  <div id="preloader" class="fixed top-0 left-0 z-9999999 flex h-screen w-screen items-center justify-center bg-white">
    <span class="loader"></span>
  </div>

  <div class="h-screen overflow-auto">
    {% include 'partials/header.html' %}
    
    {% block content %}{% endblock %}
    
    {% include 'partials/footer.html' %}
    
    {% include 'partials/mobile_navigation.html' %}
  </div>

  <script src="{% static 'js/site.js' %}" defer></script>
  <script src="{% static 'js/app.js' %}" defer></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
